<app>
	<new-task-form></new-task-form>
	<tasks></tasks>

	<script>
		var tags = this.tags;
		tags['new-task-form'].actions = app.taskActions;
		tags['tasks'].actions = app.taskActions;
		app.store.on('change', function(){
			_.forEach(tags, function(tag){
				tag.render(app.store);
				tag.update();
			});
		});
	</script>
</app>

<new-task-form>
	<form onsubmit="{{add}}">
		<input type="text" name="text" onkeyup="{{change}}">
		<button disabled="{{!isAddable}}">Add</button>
	</form>

	<script>
		add(){
			this.actions.addTask({
				value : this.text.value,
				isDone : false
			});
		}
		change(){
			this.actions.changeNewTaskFormState({
				value : this.text.value,
				isAddable : (this.text.value !== '')
			});
		}
		render(store){
			this.text.value = store.newTaskFormState.value;
			this.isAddable = store.newTaskFormState.isAddable;
		}
	</script>
</new-task-form>

<tasks>
	<ul>
		<li each="{{task, i in tasks}}">
			<input type="checkbox" name="isDone" checked="{{task.isDone}}" onclick="{{parent.toggle}}">
			<span class="{{isdone : task.isDone}}">{{task.value}}</span>
		</li>
	</ul>

	<style scoped>
		.isdone {
			text-decoration: line-through;
		}
	</style>

	<script>
		toggle(e){
			var index = e.item.i;
			this.actions.toggleTask(index);
		}
		render(store){
			this.tasks = store.tasks;
		}
	</script>
</tasks>
