<app>
	<app-form></app-form>
	<app-todos></app-todos>
	
	<script>
		var form = this.tags['app-form'];
		var todo = this.tags['app-todos'];
		form.model = app.todoModel;
		todo.model = app.todoModel;
		app.todoModel.on('add', function(){
			form.init();
			todo.render(this.data);
		});
		app.todoModel.on('change', function(){
			todo.render(this.data);
		});
	</script>
</app>

<app-form>
	<form onsubmit="{{add}}">
		<input type="text" name="text" onkeyup="{{edit}}">
		<button disabled="{{!isAddable}}">Add</button>
	</form>
	
	<script>
		init(){
			this.text.value = '';
			this.isAddable = false;
		}
		add(){
			this.model.add({
				value : this.text.value,
				isDone : false
			});
		}
		edit(){
			this.isAddable = (this.text.value !== '');
		}
	</script>
</app-form>

<app-todos>
	<ul>
		<li each="{{model, i in collection}}">
			<input type="checkbox" name="isDone" checked="{{model.isDone}}" onclick="{{parent.toggleeee}}">
			<span class="{{isdone : model.isDone}}">{{model.value}}</span>
		</li>
	</ul>
	
	<style scoped>
		.isdone {
			text-decoration: line-through;
		}
	</style>
	
	<script>
		render(data){
			this.collection = data;
			this.update();
		};
		toggleeee(e){
			var index = e.item.i;
			this.model.set({
				value : this.model.data[index].value,
				isDone : !this.model.data[index].isDone
			}, index);
		};
	</script>
</app-todos>
